@{
    ViewBag.Title = "About Author";
}
<h2>@ViewBag.Title</h2>

<Table class="table">
    <tr style="border:hidden;">
        <td style="width:200px;">
            <h4>@Html.DisplayName("Job Seeker: ")</h4>
        </td>
        <td>
            <h4>@Html.DisplayName("Yan Peng")</h4>
        </td>
    </tr>
    <tr style="border:hidden;">
        <td style="width:200px;">
            <h4>@Html.DisplayName("Position: ")</h4>
        </td>
        <td>
            <h4>@Html.DisplayName("Sr. Software Engineer")</h4>
        </td>
    </tr>
</Table>


